In [46]:
import pandas as pd
import numpy as np

In [47]:
data = pd.read_csv('/content/checkpoint - checkpoint.csv')

data.head()

,Company name,Status,Industry,Salary-Cuts,Location
0,1MG,Hiring freezes,Consumer Goods,No,Gurgaon
1,6sense,Hiring,NaN,No,"Pune,Bangalore"
2,91springboard,Hiring freezes,Real Estate,Yes,India
3,91springboard,Layoffs,Real Estate,Yes,India
4,247.ai,Layoffs,Communications,Yes,"San Jose, Bangalore"

Dataset contains information about layoff of salary due to COVID-19

In [48]:
data = data.replace(to_replace=np.nan,value='UNKNOWN')

data.head()

,Company name,Status,Industry,Salary-Cuts,Location
0,1MG,Hiring freezes,Consumer Goods,No,Gurgaon
1,6sense,Hiring,UNKNOWN,No,"Pune,Bangalore"
2,91springboard,Hiring freezes,Real Estate,Yes,India
3,91springboard,Layoffs,Real Estate,Yes,India
4,247.ai,Layoffs,Communications,Yes,"San Jose, Bangalore"

Q1. What is the percentage of hiring in 'HelthCare' Industry?

In [49]:
hiring_in_helthcare = len(data[(data['Industry'] == 'Healthcare') & (data['Status'] == 'Hiring')])
total_in_helthcare = len(data[ (data['Industry'] == 'Healthcare')])
industry_hiring_percentage = ( hiring_in_helthcare / total_in_helthcare) * 100
industry_hiring_percentage

43.13725490196079

There is 43% hiring in Helthcare industry

Q2. 'Real Estate' and 'Education Tech' out of these which have more % salary cuts?

In [50]:
cuts_in_Real_Estate = (len(data[(data['Industry'] == 'Real Estate') & (data['Salary-Cuts'] == 'Yes')]) / len(data[(data['Industry'] == 'Real Estate')])) * 100 
cuts_in_Education_Tech = (len(data[(data['Industry'] == 'Education Tech') & (data['Status'] == 'Layoffs')]) / len(data[(data['Industry'] == 'Education Tech')])) * 100

if cuts_in_Education_Tech > cuts_in_Real_Estate:
    print('Education Tech')
else:
    print("Real Estate")

Real Estate

Real Estate ha more % of salary cuts than Education Tech

Q3. company hich have locations in more then one city how much % off them having layoff ?

In [51]:
more_then_one_location = data[data['Location'].str.contains(',')]

layoff_percent = (len(more_then_one_location[more_then_one_location['Status'] == 'Layoffs']) / len(more_then_one_location)) * 100

layoff_percent

14.473684210526317

around 14.4 parcent company have layoff

Q4. which industry having more % of layoff?

In [52]:
data['Industry'].values

array(['Consumer Goods', 'UNKNOWN', 'Real Estate', ...,
       'Consulting & Services', 'Business Software',
       'Media & Entertainment'], dtype=object)

In [53]:
# data['Industry'].values
industry_layoff ={}
for industry in data['Industry'].values:

    industry_layoff[industry] = (len(data[(data['Industry'] == industry) & (data['Status'] == "Layoffs")]) / len(data[data['Industry'] == industry])) * 100

In [54]:
industry_layoff

{'Automotive': 31.57894736842105,
 'Business Software': 17.829457364341085,
 'Communications': 22.22222222222222,
 'Consulting & Services': 16.666666666666664,
 'Consumer Goods': 13.953488372093023,
 'Consumer Services': 21.428571428571427,
 'Consumer Tech': 12.280701754385964,
 'E-Commerce': 15.0,
 'Education Tech': 18.96551724137931,
 'Energy': 0.0,
 'Financial Services': 16.0,
 'Food & Dining': 6.25,
 'HR Tech': 24.137931034482758,
 'Healthcare': 27.450980392156865,
 'Hospitality': 70.0,
 'IT Infrastructure': 0.0,
 'IT Infrastucture': 25.0,
 'Information Technology': 10.714285714285714,
 'Manufacturing': 7.6923076923076925,
 'Marketing & Advertising': 18.75,
 'Media & Entertainment': 21.62162162162162,
 'Productivity Software': 16.666666666666664,
 'Real Estate': 16.129032258064516,
 'Retail': 14.285714285714285,
 'Travel & Transportation': 36.144578313253014,
 'UNKNOWN': 17.647058823529413,
 'Venture Capital': 0.0,
 'Venture Capitalist': 0.0}

'Hospitality' industry has more layoff

Q5. Which of these cities have more % Hiring freezes ?

In [59]:
citys = ['Bangalore', 'Hyderabad', 'Mumbai', 'Delhi']

hiring_freeze = {}

for city in citys:
    hiring_freeze[city] = (len(data[(data['Location'].str.contains(city)) & (data['Status'] == "Hiring freezes")]) / len(data[data['Location'].str.contains(city)])) * 100

In [60]:
hiring_freeze

{'Bangalore': 28.46975088967972,
 'Delhi': 30.76923076923077,
 'Hyderabad': 31.372549019607842,
 'Mumbai': 24.210526315789473}

Hydrabad have more %  Hiring freezes.